<ion-content [fullscreen]="true">

  <div class="flexcenter">
    <ion-img src="assets/BTC.png"></ion-img>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-select label="Select country (required)" interface="popover" label-placement="floating">
          <ion-select-option value="Spain"> Spain</ion-select-option>
          <ion-select-option value="France"> France</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-input label="First name (required)" label-placement="floating" placeholder="First name"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input label="Last name (required)" label-placement="floating" placeholder="Last name"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input label="Company (required)" label-placement="floating" placeholder="Company"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input label="Phone (required)" label-placement="floating" placeholder="Phone"></ion-input>
      </ion-col>
      <ion-col>
        <ion-checkbox labelPlacement="end">Accept Terms and Conditions</ion-checkbox>
      </ion-col>
      <ion-col>
        <ion-checkbox labelPlacement="end">Accept Privacy Policy</ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>