<ion-content [fullscreen]="true">

  <div class="flexcenter">
    <ion-img src="assets/BTC.png"></ion-img>
  </div>

  <form [formGroup]="registerForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-select [label]="'Select country' + isRequired('selectCountry')" interface="popover"
              label-placement="floating" formControlName="selectCountry">
              <ion-select-option value="Spain"> Spain</ion-select-option>
              <ion-select-option value="France"> France</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-input type="text" [label]="'First name' + isRequired('firstName')" label-placement="floating"
              placeholder="First name" formControlName="firstName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-input type="text" [label]="'Last name' + isRequired('lastName')" label-placement="floating"
              placeholder="Last name" formControlName="lastName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-input type="text" [label]="'Company' + isRequired('company')" label-placement="floating"
              placeholder="Company" formControlName="company"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-input type="tel" [label]="'Phone' + isRequired('phone')" label-placement="floating" placeholder="Phone"
              formControlName="phone"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-input type="email" [label]="'email'+ isRequired('email')" label-placement="floating"
              placeholder="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-checkbox mode="md" labelPlacement="end" formControlName="termsConditions">Accept Terms and
            Conditions</ion-checkbox>
          <ion-checkbox mode="md" labelPlacement="end" formControlName="privacyPolicy">Accept Privacy
            Policy</ion-checkbox>
        </ion-col>

        <ion-col size="12">

          <ion-button class="register" expand="block" [disabled]="registerForm.invalid">Register</ion-button>
          <ion-button class="login" expand="block">ALREADY HAVE AN ACCOUNT? LOGIN</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-message [genericForm]="registerForm"></app-message>
  </form>


</ion-content>