ion-item {

    --border-color: var(--color-grey);
    --border-width: 2px;
    --border-radius: 8px;


    ion-input,
    ion-select {

        &.ion-valid {
            --border-color: var(--color-state);
        }
    }


}