ion-checkbox {
    --border-color: var(--color-grey);
    --border-color-checked: var(--color-grey);
    --checkbox-background-checked: #fff;
    --checkmark-color: var(--color-grey);
    margin-top: 12px;

    +ion-checkbox {}
}